.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  ion-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &:hover {
      color: var(--active-color);
    }
    &.activateBtn {
      background-color: var(--middle-purple-color);
      color: var(--active-color);
    }
    &.trashBtn:hover {
      color: var(--red-color);
    }
  }
}

.timeCard:hover {
  cursor: pointer;
}

ion-card p {
  margin-top: 0;
}
.marginVertical {
  margin: 16px 0;
}
.imgContainer {
  width: 60px;
  height: 60px;
  margin: auto;
  ion-img {
    width: 100%;
    height: 100%;
  }
}
.iconBack {
  background-image: url('/assets/feeling/empty.svg');
  background-color: transparent;
  background-position:center center;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  // ion-icon {
  //   display: none;
  // }
  // &:hover ion-icon {
  //   display: block;
  // }
}
.feelingDiv:hover {
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #f9f9f9;
  border-radius: 50%;
}

ion-input#summary {
  border: 1px solid transparent;
  border-radius: 15px;
}
ion-input#summary:focus-within {
  border-color: var(--middle-purple-color);
  color: black;
}
.diaryTime {
  display: block;
  color: var(--gray-color);
  margin-bottom: -10px;
}
.diaryBtns {
  .diaryBtn {
    margin: 8px;
  }
  ion-img {
    margin-right: 5px;
  }
}

.customBtn {
  color: var(--red-color);
}
.customBtn:hover {
    background-color: var(--middle-red-color);
}
.keywordBadge {
  margin: 8px 4px;
  background-color: var(--keyword-color);
  border-radius: 30px;
  color: black;
  &:nth-child(1) {
    background-color: var(--keyword-first-color);
  }
}
.keywordBadge:hover,
.keywordIcon:hover {
  cursor: pointer;
}
.keywordIcon {
  // margin: 8px 0 8px 16px;
}
ion-footer ion-button {
  margin: 0px 0px 10px 0px;
  height: 50px;
  width: 90%;
}
.footer-md::before {
  width: 0;
  height: 0;
}


.toggle-switch {
  display: inline-block;
  vertical-align: middle;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: inline-block;
  cursor: pointer;
  font-size:13px;
  width: 100px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  transition: background-color 0.2s ease;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 50px;
  height: 24px;
  border-radius: 15px;
  background-color: white;
  transition: transform 0.2s ease;
}

.share {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  color: white;
}

.exclusive {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  color: #555;
}

.toggle-input:checked + .toggle-label {
  background-color: var(--active-color);
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(45px);
}

@media only screen and (min-width: 319.98px) {

  .imgContainer {
    width: 50px;
    height: 50px;
    margin: auto;
    ion-img {
      width: 100%;
      height: 100%;
    }
  }
}
