<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2" (click)="onCancel()" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{day.year}}년 {{month}}월 {{day.dayNumber}}일</ion-title>
    <ion-buttons slot="end" class="container">
      <!-- <ion-button (click)="onShare($event)" shape="round" [class.activateBtn]="isShare">
        <ion-icon name="share-outline"></ion-icon>
      </ion-button> -->
      <!-- <ion-toggle color="custom" class="px-0" id="hover-trigger" [checked]="false" (ionChange)="onShare($event)"></ion-toggle>
      <ion-popover trigger="hover-trigger" triggerAction="hover">
        <ng-template>
          <ion-content class="ion-padding">공유하기(오늘의 일기 전체 내용은 제외하고 공유돼요!)</ion-content>
        </ng-template>
      </ion-popover> -->
      <!-- <div class="toggle-switch">
        <input type="checkbox" id="toggle" name="toggle" class="toggle-input">
        <label for="toggle" class="toggle-label">
          <span class="share">나만</span>
          <span class="exclusive"><ion-icon name="share-outline"></ion-icon></span>
        </label>
      </div> -->
      공유
      <ion-toggle color="custom" class="px-0" [(ngModel)]="checked" (ionChange)="onShare()" enable-on-off-labels="공유"></ion-toggle>
      <ion-button (click)="presentActionSheet()" shape="round" class="trashBtn">
        <ion-icon name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-margin">
      <ion-col class="w100 ion-no-margin" *ngFor="let item of feelings; let i = index">
        <ion-card class="ion-padding ion-no-margin timeCard" [id]="'timeCard'+i" (click)="onSetFeeling($event, i)">
          <p class="ion-text-center textBlack">{{i===0 ?'첫번째': i===1 ? '두번째' : '세번째'}}</p>
          <div class="imgContainer dFlex feelingDiv" [class.iconBack]="item === 'none'">
            <ion-icon *ngIf="item === 'none'" name="add-circle" size="large" color="medium"></ion-icon>
            <ion-img *ngIf="item !== 'none'" src="./assets/feeling/{{item}}.svg"></ion-img>
          </div>
          <p class="ion-text-center" style="font-size: 13px;">{{feelNames[i]}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-card class="ion-padding w100">
        <p class="textBlack">한 줄 일기</p>
        <ion-card-content class="ion-no-padding">
          <ion-input [disabled]="!summary" id="summary" placeholder="오늘의 일기를 녹음 후 편집할 수 있어요" [(ngModel)]="summary" value="summary" (ionFocus)="onSummaryFocus($event)">
          </ion-input>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card class="ion-padding w100">
        <p class="textBlack">오늘의 일기</p>
        <ion-card-content class="ion-no-padding">
          <div *ngIf="diary">
            <ion-row id="diary" *ngFor="let sent of diary; let i=index;">
              <div class="ion-padding-horizontal ion-margin-end w100 diaryTime">
                {{sent.time}}
              </div>
              <ion-col size="10">

                <ion-input [(ngModel)]="diary[i].sentence" value="sent.diary"></ion-input>
              </ion-col>
              <ion-col size="2">
                <button class="customBtn" (click)="onSentDelete(sent)">X</button>
              </ion-col>
            </ion-row>
          </div>
          <!-- <ion-list *ngIf="diary">
            <ion-item id="diary" *ngFor="let sent of diary; let i=index;">
              <div class="ion-padding-horizontal ion-margin-end diaryTime">
                {{sent.time}}
              </div>
              <br>
              <ion-input [(ngModel)]="diary[i].sentence" value="sent.diary"></ion-input>
              <button class="customBtn" (click)="onSentDelete(sent)">X</button>
            </ion-item>
          </ion-list> -->
          <ion-buttons class="ion-justify-content-center diaryBtns">
            <ion-button class="diaryBtn" (click)="writeDiary()" shape="round" fill="solid" color="medium">
              <ion-img src="./assets/write_w.svg"></ion-img>
              바로 작성하기
            </ion-button>
            <ion-button class="diaryBtn" (click)="onRecording()" shape="round" fill="solid" color="medium">
              <ion-img src="./assets/recording_w.svg"></ion-img>
              녹음하기
            </ion-button>
          </ion-buttons>


        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card class="ion-padding w100">
        <p class="textBlack">키워드</p>
        <span class="dFlex ion-wrap keywordBadges">
          <span *ngIf="keywords" >
            <ion-badge
              *ngFor="let word of keywords"
              (click)="onBadgeClicked(word)"
              size="large" class="keywordBadge"
              >
              {{word}}
            </ion-badge>
          </span>
          <ion-icon (click)="onKeywordCreate($event)" class="keywordIcon" name="add-circle" size="large" color="medium"></ion-icon>
        </span>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="dFlex">
  <ion-button (click)="onJournalConfirm()" shape="round" color="custom">
    저장하기
  </ion-button>
</ion-footer>
