.middle-tab {
  height: 70px;
  border-radius: 50%;
  background: white;
  z-index: 100;
  max-width: 70px;
  color: #0265ac;
  border: 4px solid #0076c9;
  margin-top: -18px;
  border: 1px solid #FAFAFA;
  box-shadow: 0px 2px 15px rgba(78, 83, 87, 0.184314);
}
