<ion-content class="ion-padding">
  <div class="imgContainer ion-padding">
    <ion-img src="./assets/feel_tab.svg"></ion-img>
    <ion-img *ngFor="let feel of feelings"  src="./assets/feeling/{{feel}}.svg"></ion-img>
  </div>
  <p class="ion-text-center">오늘 하루를 기록 중이예요 :)</p>
  <!-- <input type="file" id="fileTest" (change)="onFileUpload($event)"> -->
  <ion-grid>
    <ion-row>
      <ion-col class="dFlex">
        <ion-button class="stopBtn" [disabled]="!isRecording" (click)="onStopClicked()" color="custom" shape="circle" >
          <ion-icon slot="icon-only" size="large" name="stop"></ion-icon>
        </ion-button>
        <!-- <ion-button (click)="sendRecord()" color="custom" >
          <ion-icon name="save"></ion-icon>
        </ion-button> -->
      </ion-col>
      <ion-col class="dFlex">
        <ion-button class="playBtn" *ngIf="!isRecording" (click)="onPlayClicked()" size="large" color="custom" shape="circle" >
          <ion-icon slot="icon-only" name="play" size="large"></ion-icon>
        </ion-button>
        <ion-button class="pauseBtn" *ngIf="isRecording" (click)="onPauseClicked()" size="large" color="custom" shape="circle" >
          <ion-icon slot="icon-only" name="pause" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="dFlex">
        <div class="redDot"></div>
        <p>{{durationDisplay}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-list>
    <ion-item button *ngFor="let f of storedFileNames" [id]="f.name" (click)="playFile(f)">
      {{ f.name }}
    </ion-item>
  </ion-list> -->
</ion-content>
