<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="thisismine">
      감정일기
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-toolbar>
      <ion-title size="large">감정일기</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <div>
      <a href="https://web.dev/patterns/media/microphone-record/">link</a>
    </div>

    <button id="startRecordButton">Start recording</button>
    <button id="stopRecordButton" disabled>Stop recording</button>
    <pre id="logs"></pre>
    <div id="soundClipContainer"></div>
    <button id="test" (click)="onTest()">test</button>
  </ion-card>
</ion-content>
